package ${PACKAGE_NAME}.#if(${MODULE_NAME}!="").${MODULE_NAME}#end controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import ${PACKAGE_NAME}#if(${MODULE_NAME}!="").${MODULE_NAME}#end.domain.${CLASS_NAME};

/**
 * @author : ${AUTHOR_NAME}
 * @since : ${DATE} ${TIME}
 */
@RestController
@RequestMapping("/${class_name}")
public class ${CLASS_NAME}Controller extends AbsController<${CLASS_NAME}>{

}
