package ${PACKAGE_NAME}.${MODULE_NAME}.mapper;

import com.baomidou.dynamic.datasource.annotation.DS;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
* @author : ${AUTHOR_NAME}
* @since : ${DATE} ${TIME}
*/
@Mapper
@DS("master")
public interface ${CLASS_NAME}Mapper extends BaseMapper<${CLASS_NAME}> {

}
