package ${PACKAGE_NAME}.#if(${MODULE_NAME}!="").${MODULE_NAME}#end service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${PACKAGE_NAME}#if(${MODULE_NAME}!="").${MODULE_NAME}#end.domain.${CLASS_NAME};
import ${PACKAGE_NAME}#if(${MODULE_NAME}!="").${MODULE_NAME}#end.mapper.${CLASS_NAME}Mapper;
import ${PACKAGE_NAME}#if(${MODULE_NAME}!="").${MODULE_NAME}#end.service.${CLASS_NAME}Service;
import org.springframework.stereotype.Service;

/**
 * @author : ${AUTHOR_NAME}
 * @since : ${DATE} ${TIME}
 */
@Service
public class ${CLASS_NAME}ServiceImpl extends ServiceImpl<${CLASS_NAME}Mapper, ${CLASS_NAME}>
        implements ${CLASS_NAME}Service {

}
